
.table  {
  padding: 10px;
  
}

Table,
th,td {
  text-align: center;
}
.from {
  padding: 50px;
  text-align:left;
  margin: 0px 250px;
}
.createTitle {
  margin-top: 10px;
  
}

A:link {
  text-decoration:none;
}
A:visited {
  text-decoration:none;
}
.title {
  text-align: initial;
}

.Title {
  margin-left: auto;
}

.InputGroup {
  color: red;
  margin-top: 10px;
  margin-left: 5px;

}

.Card {
  padding: 40px;
}
.card-body{
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.thick-arrow-left {
  width: 25px;
  height: 25px;
  border: 10px solid #333;
  border-left: 0;
  border-top: 0;

  transform: rotate(135deg);
}